.example-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

table {
  display: block;
  justify-content: space-around;
  height: 74vh;
  background-color: rgb(0, 0, 0);
  padding: 0px 75px;
  border-radius: 6px;
  border: 2px solid aqua;
  overflow-y: scroll;
  margin-top: 10px;
}

th {
  color: azure;
}

td {
  color: azure;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.cdk-column-data {
  max-width: 200px;
  width: 200px;
  max-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.cdk-column-data {
  max-width: 100px;
  width: 100px;
  max-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th.mat-header-cell[_ngcontent-xlq-c122], td.mat-cell[_ngcontent-xlq-c122], td.mat-footer-cell[_ngcontent-xlq-c122] {
  padding: 6px;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}


