form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background-color: black;
  height: 100%;
}

.imagem-container {
  background-image: url("../../../assets/imagem/Ellipse\ 1.png"), url("../../../assets/imagem/Subtract.png");
  background-repeat: no-repeat;
  background-position: left center, right top;
  background-size: 250px, auto;
}

h2 {
  font-family: fantasy;
  font-size: 50px;
}

.button {
  display: flex;
  gap: 42px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.error {
  color: red;
}
